//for the global page wrapping div
.page {
    // check for proper grid support
    @supports (display: grid) {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: minmax(0, 1fr);
        min-height: 100vh;
    }
}